<! DOCTYPE html>
<html>
    <head>
        
    </head>
    
    <body>
        <p>You have recieved an email from Dev Op's site form, from <%= "#{ @name }, #{ @email }." %></p>
        <p><%= @body %></p>
    </body>
</html>